#plot {
    margin: 10px 0;
}

#plot svg {
    background: #111;
}

#plot .track {
    stroke-width: 1.25px;
    stroke: #eee;
    fill: none;
}

#plot .star {
    stroke: none;
    fill: url(#gradient);
    filter: url(#drop);
}

#plot .transit-point {
    fill: #eee;
}

#plot .side-point {
    fill: #111;
    stroke-width: 0.5px;
    stroke: #888;
}

#plot text {
    fill: #eee;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}
