body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
}

h3 {
    font-size: 16px;
    text-align: center;
}

#three-dee {
    position: relative;
    text-align: center;
}

#three-dee canvas {
    cursor: move;
    background-color: #000;
}

#two-dee {
    text-align: center;
}

.axis line, .axis path {
    stroke: #333;
    fill: none;
}

.axis.label {
    font-size: 10px;
    text-transform: uppercase;
}

circle.current {
    fill: #f00;
    stroke: #333;
    stroke-width: 1.5px;
}
